<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Review Analysis Sentiment</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

    <div class="navbar">
        <div class="nav-item"><a href="/">Discord Review Analysis Sentiment</a></div>
        <div class="nav-item"><a href="/single">Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-multiple">Multiple Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-scraping">Scraping Classification</a></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="upload-section">
                <h2>Model Evaluation</h2>
                <div class="upload-area">
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".xlsx" required>
                        <button type="submit">Upload & Evaluate</button>
                    </form>
                </div>
                <h3 id="prediction">Status</h3>
            </div>
        </div>    
    </div>
    
    <script>
        $(document).ready(function() {
            $('#prediction-form').submit(function(event) {
                event.preventDefault();
                const inputData = $('#input-data').val().trim();

                if (!inputData) {
                    alert('Input cannot be empty. Please enter some text.');
                    return;
                }

                $('#prediction').text('Processing...');
                
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ text: inputData }),
                    success: function(data) {
                        $('#preprocessing').text(`Preprocessing: ${data.preprocessing}`);
                        $('#prediction').text(`Klasifikasi: ${data.prediction}`);
                    },
                    error: function(error) {
                        console.error('Error:', error);
                        $('#prediction').text('Error making prediction. Please try again later.');
                    }
                });
            });
        });
    </script>

</body>
</html>