<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Review Analysis Sentiment</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

    <div class="navbar">
        <div class="nav-item"><a href="/">Discord Review Analysis Sentiment</a></div>
        <div class="nav-item"><a href="/single">Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-multiple">Multiple Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-scraping">Scraping Classification</a></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="upload-section">
                <h2>xlsx File Classification</h2>
                <div class="upload-area">
                    <form id="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".xlsx" required>
                        <button type="submit">Upload & Analisis</button>
                    </form>
                </div>
                <h3 id="prediction">Status</h3>
            </div>

            <div class="top-section">
                <div class="box" style="grid-column: 1 / span 2;">
                    <h4>10 Most Frequent Positive Word(s)</h4>
                    <table id="positive-table">
                        <thead>
                            <tr><th>Word</th><th>Count</th></tr>
                        </thead>
                        <tbody id="positive-tbody"></tbody>
                    </table>
                </div>
                <div class="box" style="grid-column: 1 / span 2;">
                    <h4>10 Most Frequent Negative Word(s)</h4>
                    <table id="negative-table">
                        <thead>
                            <tr><th>Word</th><th>Count</th></tr>
                        </thead>
                        <tbody id="negative-tbody"></tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="bottom-section">
            <div class="box" style="grid-column: 2 / span 2;">
                <h2>Classification Results Table</h2>
                <table id="sentimen-table">
                    <thead>
                        <tr>
                            <th>Review</th>
                            <th>Sentimen</th>
                        </tr>
                    </thead>
                    <tbody id="sentimen-tbody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#upload-form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);

                $('#positive-tbody').html('');
                $('#negative-tbody').html('');
                $('#sentimen-tbody').html('');

                $('#prediction').text('Processing...');

                $.ajax({
                    url: '/multiple-predict',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        // Handle potential errors in the response data
                        if (data.error) {
                            console.error('Error from server:', data.error);
                            alert('Error: ' + data.error);
                            return;
                        }

                        //Check if data is properly structured
                        if (!data.predictions || !data.top_positive_words || !data.top_negative_words) {
                            console.error('Invalid data format from server:', data);
                            alert('Error: Invalid data received from server.');
                            return;
                        }


                        $('#positive-tbody').html(generateTableRows(data.top_positive_words));
                        $('#negative-tbody').html(generateTableRows(data.top_negative_words));

                        let sentimenRowsData = [];
                        for (let i = 0; i < data.predictions.length; i++) {
                            sentimenRowsData.push({content: data.review[i], sentiment: data.predictions[i]});
                        }

                        $('#sentimen-tbody').html(generateSentimenRows(sentimenRowsData));
                        $('#prediction').text('Done');
                    },
                    error: function(error) {
                        $('#prediction').text('Error');
                        console.error('Error:', error);
                        alert('Error during file processing. Please try again.');
                    }
                });
            });

            function generateTableRows(data) {
                return data.map(item => `<tr><td>${item[0]}</td><td>${item[1]}</td></tr>`).join('');
            }

            function generateSentimenRows(data) {
                return data.map(item => `<tr><td>${item.content}</td><td>${item.sentiment}</td></tr>`).join('');
            }
        });
    </script>

</body>
</html>
