<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Review Analysis Sentiment</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

    <div class="navbar">
        <div class="nav-item"><a href="/">Discord Review Analysis Sentiment</a></div>
        <div class="nav-item"><a href="/single">Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-multiple">Multiple Classification</a></div>
        <div class="nav-item"><a href="/klasifikasi-scraping">Scraping Classification</a></div>
    </div>

    <div class="container_single">
        <h2>Singular Text Classification</h2>
        <form id="prediction-form">
            <label for="input-data">Input:</label>
            <textarea id="input-data" name="input-data" rows="2"></textarea>
            <button type="submit">Classificate</button>
        </form>

        <div id="preprocessing">Preprocessing:</div>
        <div id="prediction">Classification:</div>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#prediction-form').submit(function(event) {
                event.preventDefault();
                const inputData = $('#input-data').val().trim();

                if (!inputData) {
                    alert('Input cannot be empty. Please enter some text.');
                    return;
                }

                $('#prediction').text('Processing...');
                
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ text: inputData }),
                    success: function(data) {
                        $('#preprocessing').text(`Preprocessing: ${data.preprocessing}`);
                        $('#prediction').text(`Classification: ${data.prediction}`);
                    },
                    error: function(error) {
                        if (error.responseJSON && error.responseJSON.error) {
                            $('#prediction').text('Error: ' + error.responseJSON.error);
                        } else {
                            $('#prediction').text('An error occurred. Please try again.');
                        }
                    }
                });
            });
        });
    </script>

</body>
</html>